body {
  background-color: #C00000;
  color: White;
  font-family: "arial"
}

hr {
  border-color: white;
  border-width: 5px;
  border-style: dotted none none;
  width: 4%;
}

img {
  height: 120px;
}

h1, h2, h3, h4 {
  color: yellow;
}
